#example1_events {
    height: 166px;
    padding: 5px;
    margin: 10px 0;
    overflow-y: scroll;
    font-size: 11px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}
  
#example1 {
    margin-top: 0;
}

#hooksList {
    padding: 0;
}

#hooksList li {
    list-style: none;
    width: 33%;
    /* display: inline-block; */
    height: 0%;
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}  